input{
   text-align:center;
}

#messages { 
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li {
 padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
	background: #eee; 
}

#newWord { 
	display: inline-block;
	color: #ff0000; 
}


body { 
	font: 13px Helvetica, Arial;
}
form { 
	background: #000; padding: 3px; 
	 bottom: 0;
	  width: 100%;
}
form input { 
	border: 0;
	padding: 10px;
	 width: 100%;
	  margin-right: .5%;
}
form button { 
	width: 9%;
	border: none;
	padding: 10px;
}

* { 
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}